parameters:
  level: 0
  paths:
    - apps/wp-plugin/G3D-Flow-Orchestrator
  excludePaths:
    - */vendor/*
    - */node_modules/*
  ignoreErrors:
    - '#Call to unknown function (add_action|add_filter|register_post_type|wp_enqueue_script)#'
